.nbg-color{
  background-color: #ffffff;
}

p{
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 600;
  font-weight: 600;
  text-transform: uppercase;
  color: #212529;
  padding-top: 64px;
}

iframe {
  width: 100%;
  height: 850px;
}
