<div class="nbg-color">
  <div class="container-fluid">
    <p class="h1 pl-2">Global score</p>

    <div class="shadow-sm">
      <iframe width="100%" height="600"
        src="https://app.powerbi.com/view?r=eyJrIjoiMjVmZjY2ODUtMzNhMy00NmU5LThmMWUtM2YwNWQ4ZGUzYzdjIiwidCI6IjMxZjc1Mjc5LWFhNDEtNGY5MC1iMTVjLWIyODU3M2RlMDkyNCJ9"
        frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <p class="h1 pl-2 mt-3">Local score</p>
    <div class="row">
      <div class="col-md-6">
        <div class="shadow-sm">
          <iframe width="100%" height="687"
            src="https://app.powerbi.com/view?r=eyJrIjoiMjVmZjY2ODUtMzNhMy00NmU5LThmMWUtM2YwNWQ4ZGUzYzdjIiwidCI6IjMxZjc1Mjc5LWFhNDEtNGY5MC1iMTVjLWIyODU3M2RlMDkyNCJ9"
            frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shadow-sm">
          <iframe width="100%" style="min-height: 340px;"
            src="https://app.powerbi.com/view?r=eyJrIjoiMjVmZjY2ODUtMzNhMy00NmU5LThmMWUtM2YwNWQ4ZGUzYzdjIiwidCI6IjMxZjc1Mjc5LWFhNDEtNGY5MC1iMTVjLWIyODU3M2RlMDkyNCJ9"
            frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="shadow-sm">
          <iframe width="100%" style="min-height: 340px;"
            src="https://app.powerbi.com/view?r=eyJrIjoiMjVmZjY2ODUtMzNhMy00NmU5LThmMWUtM2YwNWQ4ZGUzYzdjIiwidCI6IjMxZjc1Mjc5LWFhNDEtNGY5MC1iMTVjLWIyODU3M2RlMDkyNCJ9"
            frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>
