<div class="">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="">We are 100.PY </h1>
      <p class="text-left">December 2019, something we have never imagined stars to spread and worldwide countries adopt
        social isolation measures, people need to recreate habits through the quarentine, and public administration
        takes a key role within the global dinamics. The political and economic crisis in addition with the lack of
        accurate information about virus spreading, leads the population to the insecurity and disinformation. We are
        100.PY, and we have developed an avaliation method that integrates social economic data, using machine learning
        to integrate different variables such as Corruption Index and HDI to present an intuive score called Scorevid, a
        rate from 0 to 19 that describes the possibility of dealing with Corona in different countries.</p>
    </div>
    <hr>
    <div class="">
      <h2 class="text-center team">Team</h2>

    </div>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-sm-12">
          <div class="card b-0 shadow-sm" style="max-width: 18rem;">
            <img class="card-img-top" src="../../../../assets/thiagoandradee.png" alt="imagem do integrante">
            <div class="card-body text-center">
              <h5 class="card-title">Thiago Andrade</h5>
              <p class="card-text">Data Scientist</p>
              <a class="linkedin" href="https://www.linkedin.com/in/thiago-andrade-02b8a4100/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
              <a class="github ml-3" href="https://github.com/ThiagoAndradee" target="_blank"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-12 ">
          <div class="card b-0 shadow-sm" style="max-width: 18rem;">
            <img class="card-img-top" src="../../../../assets/matheusmori.jpg" alt="imagem do integrante">
            <div class="card-body text-center">
              <h5 class="card-title">Matheus Mori</h5>
              <p class="card-text">Data Engeneer</p>
              <a class="linkedin" href="https://www.linkedin.com/in/matheus-k-mori-bb2b49a8/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
              <a class="github ml-3" href="https://github.com/017mori" target="_blank"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="card b-0 shadow-sm" style="max-width: 18rem;">
            <img class="card-img-top" src="../../../../assets/lucasvieira.jpg" alt="imagem do integrante">
            <div class="card-body  text-center">
              <h5 class="card-title">Lucas Vieira</h5>
              <p class="card-text">Visual Data Analyst</p>
              <a class="linkedin" href="https://www.linkedin.com/in/lucas-vieira-150315135/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
              <a class="github ml-3" href="https://github.com/lucasv0097" target="_blank"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center">

        <div class="col-md-3">
          <div class="card b-0 shadow-sm" style="max-width: 18rem;">
            <img class="card-img-top" src="../../../../assets/sollyson.jpg" alt="imagem do integrante">
            <div class="card-body  text-center">
              <h5 class="card-title">Sollyson Rodrigues</h5>
              <p class="card-text">Software Engeneer</p>
              <a class="linkedin" href="https://www.linkedin.com/in/sollyson-rodrigues/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
              <a class="github ml-3" href="https://github.com/Solly42" target="_blank"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card b-0 shadow-sm" style="max-width: 18rem;">
            <img class="card-img-top"
              src="https://avatars0.githubusercontent.com/u/8118710?s=400&u=536b69e1851e9352fb7a978c4cc8f5a2e2bbeb59&v=4"
              alt="imagem do integrante">
            <div class="card-body  text-center">
              <h5 class="card-title">Gabriel Lima</h5>
              <p class="card-text">Software Engeneer</p>
              <a class="linkedin text-center" href="https://www.linkedin.com/in/limmagabriel/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
              <a class="github ml-3" href="https://github.com/bielzin42/" target="_blank"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card b-0 shadow-sm" style="max-width: 18rem;">
            <img class="card-img-top" src="../../../../assets/gabrielfernandes.jpg" alt="imagem do integrante">
            <div class="card-body  text-center h-199px">
              <h5 class="card-title">Gabriel Fernandes</h5>
              <p class="card-text">Data Scientist</p>
              <a class="linkedin" href="https://www.linkedin.com/in/gabriel-fernandes-ribeiro-778015142/"
                target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a class="github ml-3" href="https://github.com/gabsschrodinger" target="_blank"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
