ul li a {
  color:#737373;
  font-size:13px;
  text-transform:uppercase;
  letter-spacing:2px;
  transition: .2s;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

img {
  height: 70%;
  width: 70%;
  padding: 7px;
}

a.navbar-brand {
  width: 30%;
}

ul li a:hover {
  color: white;
  border-bottom: 1px solid #ff062a;
  transition: .2s;
}

.nbg-color{
  background-color: #121212;
}
