<header class="container-fluid nbg-color">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark" id="nav" style="background-color: black;">
                <a class="navbar-brand" routerLink='/home'>
                  <img src="https://i.imgur.com/AWl5ybQ.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item pl-2 pr-2">
                            <a class="nav-link" routerLink='/home'>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item pl-2 pr-2">
                            <a class="nav-link" routerLink='/about'>About us</a>
                        </li>
                        <li class="nav-item pl-2 pr-2">
                          <a class="nav-link" routerLink='/documentation'>Documentation</a>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
