ul li a {
    font-family: 'Montserrat', sans-serif;    
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
ul li a:hover {
    color: white;
    border-bottom: 1px solid #ff062a;
    transition: .2s;
}

.bg-color{
    background-color: #121212;
}