 <!-- Site footer -->
 <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">We have developed a machine learning technique
          to integrate different variables such as Corruption Index and HDI to present an intuive score called Scorevid, a rate
          from 0 to 19 that describes the possibility of dealing with Corona in different countries.
          <br>
          We are 100.py!</p>
        </div>

        <div class="col-xs-6 col-md-3">
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/documentation">Documentation</a></li>
          </ul>
        </div>
      </div>

      <hr>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> Copyright &copy; 2020 All Rights Reserved by
            <a class="cristal-copy" href="#">100.py</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="nasa" href="https://covid19.spaceappschallenge.org/challenges/covid-challenges/where-theres-a-link-theres-a-way/teams/100py/project" target="_blank"><i class="fas fa-user-astronaut"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/100-py/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/100.py/" target="_blank" ><i class="fab fa-instagram"></i></a></li>
            <li><a class="twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a class="github" href="https://github.com/bielzin42/NasaSpaceAppsDevlopmentArea-100.py" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

